a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/*================================== nav bar part start==================================== */
.menu-nav{
    background-color: #1C1E53;
    padding: 20px;
}
.nav-item a{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #BBBBCB;
}
.nav-item a:hover{
    color: #FFFFFF;
}
.navbar-nav li{
    padding: 0 16px;
}
.nav-btn a{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF;
    padding: 16px 25px;
    border:  2px solid #F4F6FC33;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.nav-btn a:hover {
     background-color: #FCD980;
     border: 2px solid transparent;
     color: #1C1E53;
     transition: 0.5s;
     -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
     -ms-transition: 0.5s;
     -o-transition: 0.5s;
}
/*================================== nav bar part end==================================== */

/*================================== Contact part start==================================== */
#Contact{
    padding-top: 128px;
    padding-bottom: 128px;
}
.Contact-top h2{
 color: #282938;
font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 64px;
letter-spacing: 0em;
text-align: center;
padding-bottom: 16px;
}
.Contact-pera p{
 color: #282938;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
width: 562px;
padding-bottom: 64px;
}
.main{
    background-color: #F4F6FC;
}
.name label{
    padding-top: 55px;
  color: #000;
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
}
.name input{
    padding: 5px 220px 5px 10px;
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 98%;
}
.email label{
    padding-top: 55px;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}
.email input{
    padding: 5px 220px 5px 10px;
    color: #000000;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
width: 98%;
}
.sub label{
    padding-top: 24px;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}
.sub input{
    padding: 5px 220px 5px 10px;
    color: #000000;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
width: 98%;
}
.subject label{
    padding-top: 24px;
  color: #000;
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
}
.form-select option{
    color: #000000;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
}
.form-select{
    display: block;
    width: 82%;
    padding: 8px 5px;
    border: 1px solid hsla(0, 0%, 0%, 0.62);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.texta label{
    padding-top: 16px;
    color: #000;
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
}
.texta textarea{
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 20px;
    width: 99%;
}
.contactbtn{
    padding-bottom: 120px;
    position: relative;
}
.contactbtn a{
    font-family: Manrope;
font-size: 18px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
    position: absolute;
    bottom: 40px;
    left: 93px;
    color: #000000;
    border: 2px solid #000;
    padding: 10px 40px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.contactbtn a:hover{
    background-color: #000;
    border: 2px solid transparent;
    color: #F4F6FC;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}











/*================================== Contact part end==================================== */



/*==================================  footer  part start==================================== */
#foter{
    background-color: #1C1E53;
}
.foter-img img{
   padding-top: 100px;
}
.foter-top-right h2{
 color: #ffff;
font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 64px;
letter-spacing: 0em;
text-align: left;
padding-top: 100px;
}
.foter-pera p{
color: #ffff;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
padding-top: 22px;
}
.foter-icon i{
   color: #fff;
   padding: 0 10px 0 0;
}
.email-call{
   background-color: #FCD980;
   position: relative;
   padding: 5px;
}
.email-call h2{
   color: #282938;
   font-family: Poppins;
   font-size: 18px;
   font-weight: 500;
   line-height: 32px;
   letter-spacing: 0em;
   text-align: left;
   
}
.email-call p{
   color: #282938;
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 28px;
   letter-spacing: 0em;
   text-align: left;
   
}
.email-call h3{
   position: absolute;
   top: 9px;
   left: 345px;
   color: #282938;
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: left;

}
.email-call h4{
   position: absolute;
   top: 47px;
   left: 345px;
   color: #282938;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

}
.bottom{
    display: flex;
}
#last{
    background-color: #ffff;
  
}
.last-left P{
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #282938;
padding-top: 32px;
}
.last-right ul{
    display: flex;
    content: '';
}
.last-right ul li{
    padding: 0 25px 0 0;
    padding-top: 32px;
   
}
.last-right ul li a{
  color: #282938;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
}





/*================================== footer part end==================================== */
